@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"),
    url("../fonts/Roboto/Roboto_Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: local("Roboto"),
      url("../fonts/Roboto/Roboto-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 800;
    src: local("Roboto"),
      url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}