:root {
  --bg-color: #ffffff;
  --bg-secondary-color: #1a1a1a;
  --bg-tertiary-color: #f2f2f2;
  --bg-footer: #212121;

  --color-dr-web-sec: #69b42e;
  --btn-hover: #80bf4d;
  --color-span-offer: #404040;
  --color-previous-price: #b3b3b3;
  --color-footer: #c6c7c8;

  --text-primary-color: #ffffff;
  --text-secondary-color: #000000;
  --text-tertiary-color: #666666;

  --p-b-24: 24px;
  --m-b-32: 32px;

  --m-t-8: 8px;
  --m-t-12: 12px;
  --m-t-13: 13px;
  --m-t-16: 16px;
  --m-t-24: 24px;
  --m-t-32: 32px;
  --m-t-40: 40px;

  --font-size-32: 32px;
  --font-size-24: 24px;
  --font-size-20: 20px;
  --font-size-18: 18px;
  --font-size-16: 16px;
  --font-size-14: 14px;

  --font-weight-800: 800;
  --font-weight-700: 700;
  --font-weight-600: 600;
  --font-weight-500: 500;
  --font-weight-400: 400;

  --b-r-5: 5px;
  --b-r-10: 10px;
  --b-r-16: 16px;
  --b-r-80: 80px;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  background-color: var(--bg-color);
  color: var(--text-primary-color);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

/* header */
header {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-bottom: var(--p-b-24);
}

.header-info {
  margin-top: var(--m-t-40);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 296px;
  height: 193.72px;
}

.logo {
  width: 170px;
  height: 31.72px;
}

header h1 {
  width: 296px;
  height: 50px;
  margin-top: var(--m-t-32);

  text-align: center;
  font-size: var(--font-size-20);
  font-weight: var(--font-weight-800);
  color: var(--text-secondary-color);
}

header h1 span {
  display: block;
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-500);
  color: var(--text-tertiary-color);
  margin-top: var(--m-t-8);
}

.button-buy {
  width: 223px;
  height: 48px;
  margin-top: var(--m-t-32);

  border-radius: var(--b-r-5);
  border: none;
  background: var(--color-dr-web-sec);
  color: var(--text-primary-color);

  font-size: var(--font-size-18);
  font-weight: var(--font-weight-400);
  cursor: pointer;
}

.button-buy:hover {
  background: var(--btn-hover);
}

.header-block-img {
  width: 296px;
  height: 165px;
  margin-top: 23.64px;
  position: relative;
}

.header-block-img::before {
  content: " ";
  position: absolute;
  background: var(--bg-tertiary-color);
  border-radius: var(--b-r-16);
  top: 25px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 296px;
}

.header-block-img img {
  width: 326px;
  height: 165px;
  position: absolute;
  margin-left: -14px;
}

.header-block-img span {
  display: block;
  position: absolute;
  bottom: 54.26px;
  right: 15.72px;
  border-radius: 7.84px;
  padding: 5.35px 9.86px;

  font-weight: var(--font-weight-600);
  font-size: 24.23px;
  color: var(--text-primary-color);
  background: var(--color-dr-web-sec);
}

/* main */
main {
  min-height: 100vh;
}

/* product-block */
.product-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  height: 939px;
  padding: 40px 0;
  background: var(--bg-secondary-color);
}

.product-info {
  width: 269px;
  height: 321px;
}

.product-info h2 {
  font-weight: var(--font-weight-600);
  font-size: var(--font-size-24);
}

.product-info h2 span {
  display: block;
  height: 24px;
  margin-bottom: var(--m-b-32);

  color: var(--color-dr-web-sec);
  font-weight: var(--font-weight-600);
  font-size: var(--font-size-20);
  white-space: nowrap;
}

.span-offer {
  height: 40px;
  margin-top: var(--m-t-12);
  display: flex;
  justify-content: space-between;
}

.span-offer span {
  padding: 8px 12px;
  border: 1px solid var(--color-span-offer);
  border-radius: var(--b-r-80);

  color: var(--color-span-offer);
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-18);
}

.product-info p {
  height: 95px;
  margin-top: var(--m-t-12);

  font-weight: var(--font-weight-400);
  font-size: var(--font-size-16);
}

.product-info a {
  display: block;
  position: relative;
  width: 113px;
  height: 18px;
  margin-top: var(--m-t-32);

  color: var(--color-dr-web-sec);
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-16);

  text-decoration: none;
  cursor: pointer;
}

.product-info a::after {
  content: " ";
  position: absolute;
  background: var(--color-dr-web-sec);
  bottom: -1px;
  left: 0;
  right: 0;
  height: 1px;
}

/* product */
.product {
  width: 296px;
  height: 498px;
  padding: 40px 32px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background: var(--bg-color);
  border-radius: var(--b-r-10);
}

.product img {
  width: 232px;
  height: 162px;
}

.product .info {
  height: 76px;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product .info h2 {
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-20);
  color: var(--text-secondary-color);
}

.product .info p {
  color: var(--text-tertiary-color);
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-16);
}

.price {
  height: 60px;
  width: 232px;
  position: relative;
  margin-top: var(--m-t-24);
}

.without-NDS {
  color: var(--text-secondary-color);
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-14);

  position: absolute;
  top: 0;
  right: 0;
}

.previous-price {
  position: absolute;
  top: 0;
  left: 0;
}

.previous-price::after {
  content: " ";
  position: absolute;
  background: var(--color-previous-price);
  left: 0;
  right: 0;
  bottom: 35%;
  height: 1px;
}

.previous-price p,
.previous-price span {
  color: var(--color-previous-price);
  font-weight: var(--font-weight-600);
  font-size: var(--font-size-18);
}

.current-price {
  position: absolute;
  bottom: 0;
  left: 0;
}

.current-price p,
.current-price span {
  color: var(--text-secondary-color);
  font-weight: var(--font-weight-700);
  font-size: var(--font-size-32);
}

.product .button-buy {
  margin-top: var(--m-t-24);
}

/* protections-block */
.protections-block {
  padding: 24px 12px 48px 12px;
  height: 504px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.gadget-protection,
.components-protection {
  width: 296px;
  height: 210px;
  padding: 24px;
  position: relative;
  border-radius: var(--b-r-16);

  background: var(--bg-tertiary-color);
  font-size: var(--font-size-16);
}

.gadget-protection h3,
.components-protection h3 {
  font-weight: var(--font-weight-600);
  color: var(--text-secondary-color);
}

.gadget-protection ul {
  margin-top: var(--m-t-13);
  display: inline-block;
}

.components-protection ul {
  margin-top: var(--m-t-12);
  display: inline-block;
}

.gadget-protection li,
.components-protection li {
  font-weight: var(--font-weight-400);
  color: var(--text-tertiary-color);
  list-style-type: none;
}

.gadget-protection img,
.components-protection img {
  width: 120px;
  height: 120px;

  position: absolute;
  bottom: 0;
  right: 0;
}

/* footer */
footer {
  height: 176px;
  width: 100%;
  padding: 0 12px;
  margin-top: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: var(--bg-footer);
  color: var(--color-footer);
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-14);
  line-height: 18px;
}

footer div {
  width: 296px;
  margin: 0 auto;
}

footer span {
  display: flex;
  align-items: center;
  margin-top: var(--m-t-16);
}

footer img {
  margin-right: 12px;
  height: 18px;
  width: 28px;
}

footer p {
  margin-top: var(--m-t-8);
}

footer p span {
  white-space: nowrap;
  display: inline;
}
