:root {
  /*   font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400; */

  background-color: #bab9b9;
}

body {
  width: 320px;
  height: 1889.72px;

  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

/* body {
  font-family: "Manrope", "Tahoma", sans-serif;
  color: var(--text-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-align: justify;
} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
p {
  margin: 0;
}

/* header */

header {
  background-color: #ffffff;
  /* height: 422.72px; */
  padding: 0 12px;
  padding-bottom: 24px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-info {
  margin-top: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 296px;
  height: 193.72px;
}

.logo {
  width: 170px;
  height: 31.72px;
}

header h1 {
  font-size: 20px;
  font-weight: 800;
  color: #000000;

  margin-top: 32px;
  text-align: center;
  width: 296px;
  height: 50px;
}

header h1 span {
  font-size: 16px;
  font-weight: 500;
  color: #666666;
  margin-top: 8px;
  display: block;
}

.button-buy {
  width: 223px;
  height: 48px;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  background: #69b42e;

  margin-top: 32px;
}

.header-block-img {
  margin-top: 23.64px;
  width: 296px;
  height: 165px;

  position: relative;
}

.header-block-img::before {
  content: " ";
  position: absolute;
  background: #f2f2f2;
  left: 15px;
  bottom: 0;
  border-radius: 16px;
  right: 15px;
  top: 25px;
}

.header-block-img img {
  width: 296px;
  height: 165px;
  position: absolute;
}

.header-block-img span {
  /*   width: 74.72px;
  height: 38.7px; */
  font-weight: 600;
  font-size: 24.23px;
  color: #ffffff;
  display: block;
  background: #69b42e;
  border-radius: 7.84px;
  padding: 5.35px 9.86px;
  position: absolute;
  bottom: 54.26px;
  left: 205.56px;
}

/* main */
main {
  min-height: 100%;
  display: flex;
  flex-direction: column;

  background-color: #1a1a1a;
}

/* product-block */
.product-block {
  height: 939px;
  background: #1a1a1a;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 40px 0;
  align-items: center;
}

.product-info {
  width: 269px;
  height: 321px;
}

.product-info h2 {
  color: #ffffff;
  font-weight: 600;
  font-size: 24px;
}

.product-info h2 span {
  color: #69b42e;
  font-weight: 600;
  font-size: 20px;
  display: block;
  white-space: nowrap;
  margin-bottom: 32px;
  height: 24px;
}

.span-offer {
  margin-top: 12px;
  height: 40px;
  display: flex;
  justify-content: space-between;
}

.span-offer span {
  color: #404040;
  font-weight: 400;
  font-size: 18px;
  padding: 8px 12px;
  border: 1px solid #404040;
  border-radius: 80px;
}

.product-info p {
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  margin-top: 12px;
  height: 95px;
}

.product-info a {
  color: #69b42e;
  font-weight: 400;
  font-size: 16px;
  margin-top: 32px;
  display: block;
  width: 113px;
  height: 18px;
  text-decoration: none;
  position: relative;
}

.product-info a::after {
  content: " ";
  position: absolute;
  background: #69b42e;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 1px;
}

/* product */
.product {
  background: #ffffff;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 40px 32px;
  width: 296px;
  height: 498px;
}

.product img {
  width: 232px;
  height: 162px;
}

.product .info {
  margin-top: 24px;
  height: 76px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product .info h2 {
  font-weight: 500;
  font-size: 20px;
  color: #000000;
}

.product .info p {
  color: #666666;
  font-weight: 400;
  font-size: 16px;
}

.price {
  height: 60px;
  width: 232px;
  position: relative;
  margin-top: 24px;
}

.without-NDS {
  color: #000000;
  font-weight: 400;
  font-size: 14px;

  position: absolute;
  top: 0;
  right: 0;
}

.previous-price {
  position: absolute;
  top: 0;
  left: 0;
}

.previous-price p {
  text-decoration: line-through;
}

.previous-price p,
.previous-price span {
  color: #b3b3b3;
  font-weight: 600;
  font-size: 18px;
}

.current-price {
  position: absolute;
  bottom: 0;
  left: 0;
}

.current-price p,
.current-price span {
  color: #000000;
  font-weight: 700;
  font-size: 32px;
}

.product .button-buy {
  margin-top: 24px;
}

/* footer */
footer {
  background-color: #212121;
  color: #c6c7c8;
  height: 176px;

  font-size: 14px;
  line-height: 18px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 12px;
}

footer span {
  display: flex;
  align-items: center;
  margin-top: 16px;
}

footer img {
  margin-right: 12px;
}

footer p {
  margin-top: 8px;
}

footer p span {
  white-space: nowrap;
  display: inline;
}
